<a href="https://colab.research.google.com/github/Phanisrichavali/Diabetis-prediction/blob/main/Diabetes_Prediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/diabetes.csv')

In [ ]:
data.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [ ]:
data.tail()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [ ]:
data.shape

(768, 9)

In [ ]:
print("Number of rows",data.shape[0])
print("Number of columns",data.shape[1])

Number of rows 768
Number of columns 9

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 768 entries, 0 to 767
Data columns (total 9 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               768 non-null    int64
 1   Glucose                   768 non-null    int64
 2   BloodPressure             768 non-null    int64
 3   SkinThickness             768 non-null    int64
 4   Insulin                   768 non-null    int64
 5   BMI                       768 non-null    float64
 6   DiabetesPedigreeFunction  768 non-null    float64
 7   Age                       768 non-null    int64
 8   Outcome                   768 non-null    int64
dtypes: float64(2), int64(7)
memory usage: 54.1 KB

**NULL VALUES CHECKING**

In [ ]:
data.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [ ]:
data.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

Here,min values has 0 values.So we have to replace them.

In [ ]:
data_copy = data.copy(deep=True)

In [ ]:
data.columns

Index(['Pregnancies', 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI', 'DiabetesPedigreeFunction', 'Age', 'Outcome'],
      dtype='object')

In [ ]:
data_copy[[ 'Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']] = data_copy[['Glucose', 'BloodPressure', 'SkinThickness', 'Insulin',
       'BMI']].replace(0,np.nan)

In [ ]:
data_copy.isnull().sum()

Pregnancies                   0
Glucose                       5
BloodPressure                35
SkinThickness               227
Insulin                     374
BMI                          11
DiabetesPedigreeFunction      0
Age                           0
Outcome                       0
dtype: int64

In [ ]:
data['Glucose'] = data['Glucose'].replace(0,data['Glucose'].mean())

In [ ]:
data['Glucose'].isnull().sum()

0

In [ ]:
data['BloodPressure'] = data['BloodPressure'].replace(0,data['BloodPressure'].mean())
data['Pregnancies'] = data['Pregnancies'].replace(0,data['Pregnancies'].mean())
data['SkinThickness'] = data['SkinThickness'].replace(0,data['SkinThickness'].mean())
data['Insulin'] = data['Insulin'].replace(0,data['Insulin'].mean())
data['BMI'] = data['BMI'].replace(0,data['BMI'].mean())

Storing Feature Matrix in X and result matrix(Independent variables) in Y

In [ ]:
x=data.drop('Outcome',axis=1)
y=data['Outcome']

In [ ]:
print(x,y)

     Pregnancies  Glucose  BloodPressure  SkinThickness     Insulin   BMI  \
0       6.000000    148.0           72.0      35.000000   79.799479  33.6
1       1.000000     85.0           66.0      29.000000   79.799479  26.6
2       8.000000    183.0           64.0      20.536458   79.799479  23.3
3       1.000000     89.0           66.0      23.000000   94.000000  28.1
4       3.845052    137.0           40.0      35.000000  168.000000  43.1
..           ...      ...            ...            ...         ...   ...
763    10.000000    101.0           76.0      48.000000  180.000000  32.9
764     2.000000    122.0           70.0      27.000000   79.799479  36.8
765     5.000000    121.0           72.0      23.000000  112.000000  26.2
766     1.000000    126.0           60.0      20.536458   79.799479  30.1
767     1.000000     93.0           70.0      31.000000   79.799479  30.4

     DiabetesPedigreeFunction  Age
0                       0.627   50
1                       0.351   31
2                       0.672   32
3                       0.167   21
4                       2.288   33
..                        ...  ...
763                     0.171   63
764                     0.340   27
765                     0.245   30
766                     0.349   47
767                     0.315   23

[768 rows x 8 columns] 0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Splitting dataset into the Training dataset and Test dataset

In [ ]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x,y,test_size=0.20,random_state=42)

Scikit-Learn Pipeline

In [ ]:
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.pipeline import Pipeline

In [ ]:
pipeline_lr = Pipeline([('scalar1',StandardScaler()),
                        ('lr_classifier',LogisticRegression())])
pipeline_knn = Pipeline([('scalar2',StandardScaler()),
                        ('knn_classifier',KNeighborsClassifier())])
pipeline_svc = Pipeline([('scalar3',StandardScaler()),
                        ('svc_classifier',SVC())])
#feature scaling is not required for non-linear algorithm
pipeline_dt = Pipeline([('dt_classifier',DecisionTreeClassifier())])
pipeline_rf = Pipeline([('rf_classifier',RandomForestClassifier(max_depth=3))])
pipeline_gbc = Pipeline([('gbc_classifier',GradientBoostingClassifier())])

In [ ]:
pipelines=[pipeline_lr,
           pipeline_knn,
           pipeline_svc,
           pipeline_dt,
           pipeline_rf,
           pipeline_gbc
           ]

In [ ]:
pipelines

[Pipeline(steps=[('scalar1', StandardScaler()),
                 ('lr_classifier', LogisticRegression())]),
 Pipeline(steps=[('scalar2', StandardScaler()),
                 ('knn_classifier', KNeighborsClassifier())]),
 Pipeline(steps=[('scalar3', StandardScaler()), ('svc_classifier', SVC())]),
 Pipeline(steps=[('dt_classifier', DecisionTreeClassifier())]),
 Pipeline(steps=[('rf_classifier', RandomForestClassifier(max_depth=3))]),
 Pipeline(steps=[('gbc_classifier', GradientBoostingClassifier())])]

In [ ]:
for pipe in pipelines:
  pipe.fit(x_train,y_train)

In [ ]:
pipe_dict = { 0:'LR',
             1:'KNN',
              2:'SVC',
              3:'DT',
              4:'RF',
              5:'GBC'
}

In [ ]:
for i,model in enumerate(pipelines):
  print("{} Test Accuracy: {}".format(pipe_dict[i],model.score(x_test,y_test)))

LR Test Accuracy: 0.7662337662337663
KNN Test Accuracy: 0.7337662337662337
SVC Test Accuracy: 0.7402597402597403
DT Test Accuracy: 0.7402597402597403
RF Test Accuracy: 0.7727272727272727
GBC Test Accuracy: 0.7662337662337663

Here,we can see that Random Forest is the best model

In [ ]:
from sklearn.ensemble import RandomForestClassifier
x=data.drop('Outcome',axis=1)
y=data['Outcome']

Training RandomForest Classifie on entire dataset

In [ ]:
rf=RandomForestClassifier(max_depth=3)
rf.fit(x,y)

RandomForestClassifier(max_depth=3)

Prediction on new dataset

In [ ]:
new_data=pd.DataFrame({
    'Pregnancies':6,
    'Glucose':148.0,
    'BloodPressure':72.0,
    'SkinThickness':35.0,
    'Insulin':79.9954,
    'BMI':33.6,
    'DiabetesPedigreeFunction':0.627,
    'Age':50
},index=[0])

In [ ]:
p=rf.predict(new_data)

In [91]:
if p[0]==0:
  print('non-diabetic')
else:
  print('diabetic')

diabetic